.btn {
  background-color: crimson;
}

.btn:hover {
  background-color: blueviolet;
}

.navBar {
  background-color: #171c21;
  font-size: 20px;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.navLink {
  color: rgba(240, 248, 255, 0.432);
}
.isCurrent {
  font-weight: bold;
}

.isCurrent a,
.navLink:hover {
  color: aliceblue;
  text-decoration: none;
}
