.card {
  background-color: white;
}

.cardImgTop {
  transition: 0.2s ease;
  position: relative;
}

.card:hover .overlay {
  visibility: visible;
}

.card:hover .cardImgTop {
  filter: blur(1.5px) brightness(20%);
}

.portfolio {
  background-color: #ece9e6;
}
.overlay {
  position: absolute;
  margin: 0;
  width: 92%;
  z-index: 100;
  font-size: 17px;
  color: beige;
  visibility: hidden;
  text-align: center;
  top: 35%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
