.card {
  background-color: white;
}

.cardTop {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardImgTop {
  transition: 0.2s ease;
}

.card:hover .overlay {
  visibility: visible;
}

.card:hover .cardImgTop {
  filter: blur(1.5px) brightness(20%);
}

.overlay {
  position: absolute;
  width: 100%;
  z-index: 100;
  font-size: 17px;
  color: beige;
  visibility: hidden;
  text-align: center;
}

.allViewed {
  animation: viewMore 10s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.someViewed {
  animation: viewLess 10s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.modalDialog{
  max-width: 80%;
}

.modalContent{
  background-color: #eeeeee;
}

@media (max-width: 768px) {
  .modalDialog{
    max-width: unset
  }
}

@keyframes viewMore {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes viewLess {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}
